@charset "UTF-8";

.body{
    background-color: #f6efe3;
}

*{
    color: #75776a;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.h3,h1,a{
    color: #ba965c;
}

li{
    color: #75776a;
}

