@charset "UTF-8";

.body{
    background-color: #f6efe3;
}

*{
    color: #75776a;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.h3,h1,li,a{
    color: #ba965c;
}

.img1{
    position: absolute;
    top: auto;
    right: 260px;
}

.img2{
    position: absolute;
    top: auto;
    right: auto;
}

.img3{
    position: absolute;
    top: auto;
    right: auto;
}

.l{
    color: #75776a;
}
